{
    "swagger": "2.0",
    "info": {
        "title": "Bybit API",
        "termsOfService": "https://www.bybit.com/app/login",
        "description": "## REST API for the Bybit Exchange.\nBase URI: [https://api.bybit.com]\n\n",
        "contact": {
            "email": "support@bybit.com"
        },
        "version": "0.2.11"
    },
    "host": "api.bybit.com",
    "basePath": "/",
    "paths": {
        "/v2/public/time": {
            "get": {
                "tags": [
                    "Common"
                ],
                "summary": "Get bybit server time.",
                "operationId": "Common.getTime",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ServerTime"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/public/announcement": {
            "get": {
                "tags": [
                    "Common"
                ],
                "summary": "Get Bybit OpenAPI announcements in the last 30 days in reverse order.",
                "operationId": "Common.announcements",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Announcement"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/private/account/lcp": {
            "get": {
                "tags": [
                    "Common"
                ],
                "summary": "Query LCP info.",
                "operationId": "Common.getLcp",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LCPInfo"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/open-api/api-key": {
            "get": {
                "tags": [
                    "APIkey"
                ],
                "summary": "Get account api-key information.",
                "operationId": "APIkey.info",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/APIKeyBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/public/symbols": {
            "get": {
                "tags": [
                    "Symbol"
                ],
                "summary": "Query Symbols.",
                "operationId": "Symbol.get",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Symbols"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/public/liq-records": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "Query liq records.",
                "operationId": "Market.liqRecords",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "From ID. Default: return latest data",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size, max size is 1000. Default size is 500",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "Start timestamp point for result, in millisecond",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "End timestamp point for result, in millisecond",
                        "required": false,
                        "type": "integer"
                    }

                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LiqRecords"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/public/mark-price-kline": {
            "get": {
                "tags": [
                    "Kline"
                ],
                "summary": "Query mark price kline.",
                "operationId": "Kline.markPrice",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "description": "Data refresh interval",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "From timestamp in seconds",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size, max size is 1000. Default size is 500",
                        "required": false,
                        "type": "integer"
                    }

                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/MarkPriceKlineBase"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/public/open-interest": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "Query Open Interest",
                "operationId": "Market.openInterest",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size, max size is 200. Default size is 50",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Data recording period. 5min, 15min, 30min, 1h, 4h, 1d",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/OpenInterest"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/public/big-deal": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "Query Big Deal",
                "operationId": "Market.bigDeal",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size, max size is 1000. Default size is 500",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/BigDeal"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/public/account-ratio": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "Query Account Long Short Ratio",
                "operationId": "Market.accountRatio",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size, max size is 500. Default size is 50",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Data recording period. 5min, 15min, 30min, 1h, 4h, 1d",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/AccountRatio"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/user/leverage/save": {
            "post": {
                "tags": [
                    "Positions"
                ],
                "summary": "Change user leverage.",
                "operationId": "Positions.saveLeverage",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "A symbol which you want change its leverage",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "leverage",
                        "in": "formData",
                        "description": "New leverage you want set",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ServerTime"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/position/list": {
            "get": {
                "tags": [
                    "Positions"
                ],
                "summary": "Get my position list.",
                "operationId": "Positions.myPosition",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type which you want update its margin",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Position"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/position/change-position-margin": {
            "post": {
                "tags": [
                    "Positions"
                ],
                "summary": "Update margin.",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "operationId": "Positions.changeMargin",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type which you want update its margin",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "margin",
                        "in": "formData",
                        "description": "New margin you want set",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ServerTime"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/open-api/position/trading-stop": {
            "post": {
                "tags": [
                    "Positions"
                ],
                "summary": "Set Trading-Stop Condition.",
                "operationId": "Positions.tradingStop",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "take_profit",
                        "in": "formData",
                        "description": "Not less than 0, 0 means cancel TP",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "stop_loss",
                        "in": "formData",
                        "description": "Not less than 0, 0 means cancel SL",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "trailing_stop",
                        "in": "formData",
                        "description": "Not less than 0, 0 means cancel TS",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "new_trailing_active",
                        "in": "formData",
                        "description": "Trailing stop trigger price. Trailing stops are triggered only when the price reaches the specified price. Trailing stops are triggered immediately by default.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/TradingStopBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/exchange-order/list": {
            "get": {
                "tags": [
                    "Wallet"
                ],
                "summary": "Asset Exchange Records",
                "operationId": "Wallet.exchangeOrder",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Start ID. By default, returns the latest IDs",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Search direction. Prev: searches in ascending order from start ID, Next: searches in descending order from start ID. Defaults to Next",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ExchangeOrderListBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },

        "/open-api/wallet/fund/records": {
            "get": {
                "tags": [
                    "Wallet"
                ],
                "summary": "Get wallet fund records",
                "operationId": "Wallet.getRecords",
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start point for result",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End point for result",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Currency type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "wallet_fund_type",
                        "in": "query",
                        "description": "wallet fund type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page. Default getting first page data",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/FundRecordBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/open-api/wallet/withdraw/list": {
            "get": {
                "tags": [
                    "Wallet"
                ],
                "summary": "Get wallet fund records",
                "operationId": "Wallet.withdraw",
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start point for result",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End point for result",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "coin",
                        "in": "query",
                        "description": "Currency",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Withdraw status",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page. Default getting first page data",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/WithdrawResBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/wallet/balance": {
            "get": {
                "tags": [
                    "Wallet"
                ],
                "summary": "get wallet balance info",
                "operationId": "Wallet.getBalance",
                "parameters": [
                    {
                        "name": "coin",
                        "in": "query",
                        "description": "Coin.enum {BTC,EOS,XRP,ETH,USDT}",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/WalletBalanceBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/open-api/wallet/risk-limit": {
            "post": {
                "tags": [
                    "Wallet"
                ],
                "summary": "Set risk limit",
                "operationId": "Wallet.setRiskLimit",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "risk_id",
                        "in": "formData",
                        "description": "Risk ID. Can be found with the Get risk limit list endpoint.",
                        "required": true,
                        "type": "number",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/SetRiskLimitBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/open-api/wallet/risk-limit/list": {
            "get": {
                "tags": [
                    "Wallet"
                ],
                "summary": "Get risk limit.",
                "operationId": "Wallet.getRiskLimit",
                "parameters": [
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/RiskLimitBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/order/create": {
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Place active order",
                "operationId": "Order.new",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "side",
                        "in": "formData",
                        "description": "Side",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_type",
                        "in": "formData",
                        "description": "Active order type",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "qty",
                        "in": "formData",
                        "description": "",
                        "required": true,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "price",
                        "in": "formData",
                        "description": "Order price.",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "time_in_force",
                        "in": "formData",
                        "description": "Time in force",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "take_profit",
                        "in": "formData",
                        "description": "take profit price",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "stop_loss",
                        "in": "formData",
                        "description": "stop loss price",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "reduce_only",
                        "in": "formData",
                        "description": "reduce only",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "close_on_trigger",
                        "in": "formData",
                        "description": "close on trigger",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "order_link_id",
                        "in": "formData",
                        "description": "TCustomized order ID, maximum length at 36 characters, and order ID under the same agency has to be unique.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/OrderResBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/order/list": {
            "get": {
                "tags": [
                    "Order"
                ],
                "summary": "Get my active order list.",
                "operationId": "Order.getOrders",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type. Default BTCUSD",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "TLimit for data size per page, max size is 50. Default as showing 20 pieces of data per page",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },
                    {
                        "name": "order_status",
                        "in": "query",
                        "description": "Query your orders for all statuses if 'order_status' is empty. If you want to query orders with specific statuses , you can pass the order_status split by",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "direction",
                        "in": "query",
                        "description": "Search direction. prev: prev page, next: next page. Defaults to next",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "cursor is a unique identifier for a specific record, which acts as a pointer to the next record we want to start querying from to get the next page of results",
                        "required": false,
                        "type": "string"
                    }


                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/V2OrderListBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },

        "/v2/private/order/cancel": {
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Get my active order list.",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "operationId": "Order.cancel",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "formData",
                        "description": "Order ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_link_id",
                        "in": "formData",
                        "description": "Order link id.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/OrderCancelBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/order/cancelAll": {
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Get my active order list.",
                "operationId": "Order.cancelAll",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/OrderCancelAllBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/order/replace": {
            "post": {
                "tags": [
                    "Order"
                ],
                "summary": "Replace active order. Only incomplete orders can be modified. ",
                "operationId": "Order.replace",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "formData",
                        "description": "Order ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order_link_id",
                        "in": "formData",
                        "description": "Order Link ID.",
                        "required": false,
                        "type": "string"
                    },

                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "p_r_qty",
                        "in": "formData",
                        "description": "Order quantity.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "p_r_price",
                        "in": "formData",
                        "description": "Order price.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ReplaceOrderBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/order": {
            "get": {
                "tags": [
                    "Order"
                ],
                "summary": "Get my active order list.",
                "operationId": "Order.query",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "Order ID",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type. Default BTCUSD",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order_link_id",
                        "in": "query",
                        "description": "Agency customized order ID",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/QueryOrderBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/stop-order/create": {
            "post": {
                "tags": [
                    "Conditional"
                ],
                "summary": "Place a new conditional order.",
                "operationId": "Conditional.new",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "side",
                        "in": "formData",
                        "description": "Side.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "order_type",
                        "in": "formData",
                        "description": "Conditional order type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "qty",
                        "in": "formData",
                        "description": "Order quantity.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "price",
                        "in": "formData",
                        "description": "Execution price for conditional order",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "base_price",
                        "in": "formData",
                        "description": "Send current market price. It will be used to compare with the value of 'stop_px', to decide whether your conditional order will be triggered by crossing trigger price from upper side or lower side. Mainly used to identify the expected direction of the current conditional order..",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stop_px",
                        "in": "formData",
                        "description": "Trigger price.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "time_in_force",
                        "in": "formData",
                        "description": "Time in force.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "trigger_by",
                        "in": "formData",
                        "description": "Trigger price type. Default LastPrice.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "close_on_trigger",
                        "in": "formData",
                        "description": "close on trigger.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "order_link_id",
                        "in": "formData",
                        "description": "Customized order ID, maximum length at 36 characters, and order ID under the same agency has to be unique..",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/V2ConditionalBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/stop-order/list": {
            "get": {
                "tags": [
                    "Conditional"
                ],
                "summary": "Get my conditional order list.",
                "operationId": "Conditional.getOrders",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "stop_order_status",
                        "in": "query",
                        "description": "Stop order status.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page.",
                        "required": false,
                        "type": "number",
                        "format": "int32"
                    },{
                        "name": "direction",
                        "in": "query",
                        "description": "Search direction. prev: prev page, next: next page. Defaults to next",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Page turning mark，Use return cursor,Sign use origin data, in request please urlencode",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ConditionalOrdersResBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/stop-order": {
            "get": {
                "tags": [
                    "Conditional"
                ],
                "summary": "Query real-time stop order information.",
                "operationId": "Conditional.query",
                "parameters": [
                    {
                        "name": "stop_order_id",
                        "in": "query",
                        "description": "Order ID of conditional order.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order_link_id",
                        "in": "query",
                        "description": "Agency customized order ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/StopOrderOrdersResBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/stop-order/cancel": {
            "post": {
                "tags": [
                    "Conditional"
                ],
                "summary": "Cancel conditional order.",
                "operationId": "Conditional.cancel",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "stop_order_id",
                        "in": "formData",
                        "description": "Order ID of conditional order.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order_link_id",
                        "in": "formData",
                        "description": "Agency customized order ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/V2CancelOrderBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/stop-order/cancelAll": {
            "post": {
                "tags": [
                    "Conditional"
                ],
                "summary": "Cancel conditional order.",
                "operationId": "Conditional.cancelAll",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ConditionalCancelAllBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/stop-order/replace": {
            "post": {
                "tags": [
                    "Conditional"
                ],
                "summary": "Replace conditional order. Only incomplete orders can be modified. ",
                "operationId": "Conditional.replace",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "stop_order_id",
                        "in": "formData",
                        "description": "Stop order ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "order_link_id",
                        "in": "formData",
                        "description": "Order Link ID.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "p_r_qty",
                        "in": "formData",
                        "description": "Order quantity.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "p_r_price",
                        "in": "formData",
                        "description": "Order price.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "p_r_trigger_price",
                        "in": "formData",
                        "description": "Trigger price.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ReplaceConditionalBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/open-api/funding/prev-funding-rate": {
            "get": {
                "tags": [
                    "Funding"
                ],
                "summary": "Get predicted funding rate and funding fee.",
                "operationId": "Funding.prevRate",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/FundingRateBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/open-api/funding/prev-funding": {
            "get": {
                "tags": [
                    "Funding"
                ],
                "summary": "Funding settlement occurs every 8 hours at 00:00 UTC, 08:00 UTC and 16:00 UTC. The current interval's fund fee settlement is based on the previous interval's fund rate. For example, at 16:00, the settlement is based on the fund rate generated at 8:00. The fund rate generated at 16:00 will be used at 0:00 on the next day.",
                "operationId": "Funding.myLastFee",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/FundingFeeBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/open-api/funding/predicted-funding": {
            "get": {
                "tags": [
                    "Funding"
                ],
                "summary": "Get predicted funding rate and funding fee.",
                "operationId": "Funding.predicted",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/FundingPredictedBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/execution/list": {
            "get": {
                "tags": [
                    "Execution"
                ],
                "summary": "Get user’s trade records.",
                "operationId": "Execution.getTrades",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "OrderID. If not provided, will return user’s trading records.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "Start timestamp point for result.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page. Default getting first page data.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/TradeRecordsBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/private/trade/closed-pnl/list": {
            "get": {
                "tags": [
                    "Execution",
                    "Positions"
                ],
                "summary": "Get user's closed profit and loss records",
                "operationId": "Positions.closePnlRecords",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "Start timestamp point for result, in second",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "End timestamp point for result, in second",
                        "required": false,
                        "type": "integer"
                    },

                    {
                        "name": "exec_type",
                        "in": "query",
                        "description": "Execution type",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page. By default, gets first page of data. Maximum of 50 pages",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page.",
                        "required": false,
                        "type": "integer"
                    }

                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ClosedPnlBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/public/orderBook/L2": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "Get the orderbook.",
                "operationId": "Market.orderbook",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/OrderBookBase"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/public/tickers": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "Get the latest information for symbol.",
                "operationId": "Market.symbolInfo",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/SymbolInfoBase"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/public/trading-records": {
            "get": {
                "tags": [
                    "Market"
                ],
                "summary": "Get recent trades",
                "operationId": "Market.tradingRecords",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "From ID. Default: return latest data",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of results. Default 500; max 1000",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/TradingRecords"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/v2/public/kline/list": {
            "get": {
                "tags": [
                    "Kline"
                ],
                "summary": "Query historical kline.",
                "operationId": "Kline.get",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "interval",
                        "in": "query",
                        "description": "Kline interval.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "from timestamp.",
                        "required": true,
                        "type": "number",
                        "format": "int64"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Contract type.",
                        "required": false,
                        "type": "number",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/KlineBase"
                            }
                        }
                    }
                },
                "deprecated": false,
                "security": [
                ]
            }
        },
        "/private/linear/order/create": {
            "post": {
                "description": "This will create linear order",
                "tags": [
                    "LinearOrder"
                ],
                "summary": "Create Active Order",
                "operationId": "LinearOrder.new",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "side",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "order_type",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "time_in_force",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "qty",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "price",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "take_profit",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "stop_loss",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "name": "reduce_only",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "tp_trigger_by",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "sl_trigger_by",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "name": "close_on_trigger",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "order_link_id",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearCreateOrderResultBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/private/linear/order/cancel": {
            "post": {
                "description": "This will cancel linear active order",
                "tags": [
                    "LinearOrder"
                ],
                "summary": "Cancel Active Order",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "operationId": "LinearOrder.cancel",
                "parameters": [
                    {
                        "type": "string",
                        "name": "order_id",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "order_link_id",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearCancelOrderResultBase"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/order/cancel-all": {
            "post": {
                "tags": [
                    "LinearOrder"
                ],
                "summary": "Cancel all active orders.",
                "operationId": "LinearOrder.cancelAll",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearOrderCancelAllBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/private/linear/order/list": {
            "get": {
                "description": "This will get linear active orders",
                "tags": [
                    "LinearOrder"
                ],
                "summary": "Get linear Active Orders",
                "operationId": "LinearOrder.getOrders",
                "parameters": [
                    {
                        "type": "string",
                        "name": "order_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "order_link_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "order_status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearOrderRecordsResponseBase"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/order/search": {
            "get": {
                "description": "This will get linear active orders(real-time)",
                "tags": [
                    "LinearOrder"
                ],
                "summary": "Get Active Orders(real-time)",
                "operationId": "LinearOrder.query",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "type": "string",
                        "name": "order_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "order_link_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearSearchOrderResultBase"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/order/replace": {
            "post": {
                "tags": [
                    "LinearOrder"
                ],
                "summary": "Replace Active Order",
                "operationId": "LinearOrder.replace",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },{
                        "name": "order_id",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },{
                        "name": "order_link_id",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },{
                        "name": "p_r_qty",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },{
                        "name": "p_r_price",
                        "in": "formData",
                        "required": false,
                        "type": "number"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearOrderReplace"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/private/linear/stop-order/create": {
            "post": {
                "description": "This will create linear stop order",
                "tags": [
                    "LinearConditional"
                ],
                "summary": "Create linear stop Order",
                "operationId": "LinearConditional.new",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "side",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "order_type",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "qty",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "price",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "base_price",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "stop_px",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "time_in_force",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "trigger_by",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "name": "reduce_only",
                        "in": "formData"
                    },
                    {
                        "type": "boolean",
                        "name": "close_on_trigger",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "order_link_id",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "take_profit",
                        "in": "formData"
                    },
                    {
                        "type": "number",
                        "format": "double",
                        "name": "stop_loss",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "tp_trigger_by",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "sl_trigger_by",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearCreateStopOrderResultBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/private/linear/stop-order/cancel": {
            "post": {
                "description": "This will cancel linear active order",
                "tags": [
                    "LinearConditional"
                ],
                "summary": "Cancel Active Order",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "operationId": "LinearConditional.cancel",
                "parameters": [
                    {
                        "type": "string",
                        "name": "stop_order_id",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "order_link_id",
                        "in": "formData"
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearCancelStopOrderResultBase"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/stop-order/cancel-all": {
            "post": {
                "tags": [
                    "LinearConditional"
                ],
                "summary": "Cancel all stop orders.",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "operationId": "LinearConditional.cancelAll",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "description": "Contract type.",
                        "required": true,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearStopOrderCancelAllBase"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/private/linear/stop-order/list": {
            "get": {
                "description": "This will get linear active orders",
                "tags": [
                    "LinearConditional"
                ],
                "summary": "Get linear Stop Orders",
                "operationId": "LinearConditional.getOrders",
                "parameters": [
                    {
                        "type": "string",
                        "name": "stop_order_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "order_link_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "symbol",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "order",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "stop_order_status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearStopOrderRecordsResponseBase"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/stop-order/search": {
            "get": {
                "description": "This will get linear stop orders(real-time)",
                "tags": [
                    "LinearConditional"
                ],
                "summary": "Get Stop Orders(real-time)",
                "operationId": "LinearConditional.query",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "type": "string"
                    },
                    {
                        "type": "string",
                        "name": "stop_order_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "name": "order_link_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearSearchStopOrderResultBase"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/stop-order/replace": {
            "post": {
                "tags": [
                    "LinearConditional"
                ],
                "summary": "Replace conditional order",
                "operationId": "LinearConditional.replace",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "required": true,
                        "type": "string"
                    },{
                        "name": "stop_order_id",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },{
                        "name": "order_link_id",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },{
                        "name": "p_r_qty",
                        "in": "formData",
                        "required": false,
                        "type": "string"
                    },{
                        "name": "p_r_price",
                        "in": "formData",
                        "required": false,
                        "type": "number"
                    },{
                        "name": "p_r_trigger_price",
                        "in": "formData",
                        "required": false,
                        "type": "number"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearStopOrderReplace"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/private/linear/position/list": {
            "get": {
                "tags": [
                    "LinearPositions"
                ],
                "description": "This will get my position list.",
                "summary": "Get my position list.",
                "operationId": "LinearPositions.myPosition",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearPositionListResultBase"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/position/set-auto-add-margin": {
            "post": {
                "tags": [
                    "LinearPositions"
                ],
                "description": "This will Set auto add margin",
                "summary": "Set auto add margin",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "operationId": "LinearPositions.setAutoAddMargin",
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "side",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "auto_add_margin",
                        "in": "formData",
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearSetMarginResult"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/position/set-leverage": {
            "post": {
                "tags": [
                    "LinearPositions"
                ],
                "description": "This will Set Leverage",
                "summary": "Set leverage",
                "operationId": "LinearPositions.saveLeverage",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "buy_leverage",
                        "in": "formData",
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "sell_leverage",
                        "in": "formData",
                        "type": "number",
                        "format": "double"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearSetLeverageResult"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/position/switch-isolated": {
            "post": {
                "tags": [
                    "LinearPositions"
                ],
                "description": "This will switch isolated",
                "summary": "Switch isolated",
                "operationId": "LinearPositions.switchIsolated",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "is_isolated",
                        "in": "formData",
                        "type": "boolean"
                    },
                    {
                        "name": "buy_leverage",
                        "in": "formData",
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "sell_leverage",
                        "in": "formData",
                        "type": "number",
                        "format": "double"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LinearSwitchIsolatedResult"
                            }
                        }
                    }
                }
            }
        },
        "/private/linear/position/trading-stop": {
            "post": {
                "tags": [
                    "LinearPositions"
                ],
                "description": "This will set tradingStop",
                "summary": "Set tradingStop",
                "operationId": "LinearPositions.tradingStop",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "symbol",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "side",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "take_profit",
                        "in": "formData",
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "stop_loss",
                        "in": "formData",
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "trailing_stop",
                        "in": "formData",
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "tp_trigger_by",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "sl_trigger_by",
                        "in": "formData",
                        "type": "string"
                    },
                    {
                        "name": "sl_size",
                        "in": "formData",
                        "type": "number",
                        "format": "double"
                    },
                    {
[...]
