=begin
#Bybit API

### REST API for the Bybit Exchange. Base URI: [https://api-testnet.bybit.com]  

OpenAPI spec version: 1.0.0
Contact: support@bybit.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.8

=end

require 'uri'

module SwaggerClient
  class WalletApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # get wallet balance info
    # @param [Hash] opts the optional parameters
    # @option opts [String] :coin Coin.enum {BTC,EOS,XRP,ETH,USDT}
    # @return [Object]
    def wallet_get_balance(opts = {})
      data, _status_code, _headers = wallet_get_balance_with_http_info(opts)
      data
    end

    # get wallet balance info
    # @param [Hash] opts the optional parameters
    # @option opts [String] :coin Coin.enum {BTC,EOS,XRP,ETH,USDT}
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_get_balance_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.wallet_get_balance ...'
      end
      # resource path
      local_var_path = '/v2/private/wallet/balance'

      # query parameters
      query_params = {}
      query_params[:'coin'] = opts[:'coin'] if !opts[:'coin'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey', 'apiSignature', 'timestamp']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#wallet_get_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get wallet fund records
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_date Start point for result
    # @option opts [String] :end_date End point for result
    # @option opts [String] :currency Currency type
    # @option opts [String] :wallet_fund_type wallet fund type
    # @option opts [String] :page Page. Default getting first page data
    # @option opts [String] :limit Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page
    # @return [Object]
    def wallet_get_records(opts = {})
      data, _status_code, _headers = wallet_get_records_with_http_info(opts)
      data
    end

    # Get wallet fund records
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_date Start point for result
    # @option opts [String] :end_date End point for result
    # @option opts [String] :currency Currency type
    # @option opts [String] :wallet_fund_type wallet fund type
    # @option opts [String] :page Page. Default getting first page data
    # @option opts [String] :limit Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_get_records_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.wallet_get_records ...'
      end
      # resource path
      local_var_path = '/open-api/wallet/fund/records'

      # query parameters
      query_params = {}
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'wallet_fund_type'] = opts[:'wallet_fund_type'] if !opts[:'wallet_fund_type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey', 'apiSignature', 'timestamp']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#wallet_get_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get risk limit.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def wallet_get_risk_limit(opts = {})
      data, _status_code, _headers = wallet_get_risk_limit_with_http_info(opts)
      data
    end

    # Get risk limit.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_get_risk_limit_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.wallet_get_risk_limit ...'
      end
      # resource path
      local_var_path = '/open-api/wallet/risk-limit/list'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey', 'apiSignature', 'timestamp']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#wallet_get_risk_limit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Set risk limit
    # @param symbol Contract type.
    # @param risk_id Risk ID. Can be found with the Get risk limit list endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def wallet_set_risk_limit(symbol, risk_id, opts = {})
      data, _status_code, _headers = wallet_set_risk_limit_with_http_info(symbol, risk_id, opts)
      data
    end

    # Set risk limit
    # @param symbol Contract type.
    # @param risk_id Risk ID. Can be found with the Get risk limit list endpoint.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_set_risk_limit_with_http_info(symbol, risk_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.wallet_set_risk_limit ...'
      end
      # verify the required parameter 'symbol' is set
      if @api_client.config.client_side_validation && symbol.nil?
        fail ArgumentError, "Missing the required parameter 'symbol' when calling WalletApi.wallet_set_risk_limit"
      end
      # verify the required parameter 'risk_id' is set
      if @api_client.config.client_side_validation && risk_id.nil?
        fail ArgumentError, "Missing the required parameter 'risk_id' when calling WalletApi.wallet_set_risk_limit"
      end
      # resource path
      local_var_path = '/open-api/wallet/risk-limit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}
      form_params['symbol'] = symbol
      form_params['risk_id'] = risk_id

      # http body (model)
      post_body = nil
      auth_names = ['apiKey', 'apiSignature', 'timestamp']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#wallet_set_risk_limit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get wallet fund records
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_date Start point for result
    # @option opts [String] :end_date End point for result
    # @option opts [String] :coin Currency
    # @option opts [String] :status Withdraw status
    # @option opts [String] :page Page. Default getting first page data
    # @option opts [String] :limit Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page
    # @return [Object]
    def wallet_withdraw(opts = {})
      data, _status_code, _headers = wallet_withdraw_with_http_info(opts)
      data
    end

    # Get wallet fund records
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_date Start point for result
    # @option opts [String] :end_date End point for result
    # @option opts [String] :coin Currency
    # @option opts [String] :status Withdraw status
    # @option opts [String] :page Page. Default getting first page data
    # @option opts [String] :limit Limit for data size per page, max size is 50. Default as showing 20 pieces of data per page
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_withdraw_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.wallet_withdraw ...'
      end
      # resource path
      local_var_path = '/open-api/wallet/withdraw/list'

      # query parameters
      query_params = {}
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'coin'] = opts[:'coin'] if !opts[:'coin'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKey', 'apiSignature', 'timestamp']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#wallet_withdraw\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
