---
swagger: "2.0"
info:
  description: "## REST API for the Bybit Exchange.\nBase URI: [https://api.bybit.com]\n\
    \n"
  version: "0.2.10"
  title: "Bybit API"
  termsOfService: "https://www.bybit.com/app/login"
  contact:
    email: "support@bybit.com"
host: "api.bybit.com"
basePath: "/"
tags:
- name: "Common"
  description: "Common interface"
- name: "APIKey"
  description: "Get account api-key information"
- name: "Order"
  description: "Place new order, cancel, replace and get order list"
- name: "Conditional"
  description: "Place, cancel and replace conditional order, get conditional order\
    \ list"
- name: "Positions"
  description: "Get account position info"
- name: "Wallet"
  description: "Get wallet funding records, get withdraw records"
- name: "Funding"
  description: "Get funding rate, get my funding fee, get predicted funding fee"
- name: "Execution"
  description: "Get the trade records of a order"
- name: "Market"
  description: "Get the orderbook and latest information for symbol"
- name: "Kline"
  description: "Query historical kline"
- name: "Symbol"
  description: "Query Symbols"
- name: "LinearOrder"
  description: "Place new linear order, cancel, replace and get linear order list"
consumes:
- "application/json"
- "application/x-www-form-urlencoded"
produces:
- "application/json"
security:
- apiKey: []
  timestamp: []
  apiSignature: []
paths:
  /v2/public/time:
    get:
      tags:
      - "Common"
      summary: "Get bybit server time."
      operationId: "Common.getTime"
      parameters: []
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/public/announcement:
    get:
      tags:
      - "Common"
      summary: "Get Bybit OpenAPI announcements in the last 30 days in reverse order."
      operationId: "Common.announcements"
      parameters: []
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/private/account/lcp:
    get:
      tags:
      - "Common"
      summary: "Query LCP info."
      operationId: "Common.getLcp"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /open-api/api-key:
    get:
      tags:
      - "APIkey"
      summary: "Get account api-key information."
      operationId: "APIkey.info"
      parameters: []
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/public/symbols:
    get:
      tags:
      - "Symbol"
      summary: "Query Symbols."
      operationId: "Symbol.get"
      parameters: []
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/public/liq-records:
    get:
      tags:
      - "Market"
      summary: "Query liq records."
      operationId: "Market.liqRecords"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "from"
        in: "query"
        description: "From ID. Default: return latest data"
        required: false
        type: "integer"
        x-exportParamName: "From"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Limit for data size, max size is 1000. Default size is 500"
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "start_time"
        in: "query"
        description: "Start timestamp point for result, in millisecond"
        required: false
        type: "integer"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Int32"
      - name: "end_time"
        in: "query"
        description: "End timestamp point for result, in millisecond"
        required: false
        type: "integer"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/public/mark-price-kline:
    get:
      tags:
      - "Kline"
      summary: "Query mark price kline."
      operationId: "Kline.markPrice"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "interval"
        in: "query"
        description: "Data refresh interval"
        required: true
        type: "string"
        x-exportParamName: "Interval"
      - name: "from"
        in: "query"
        description: "From timestamp in seconds"
        required: true
        type: "integer"
        x-exportParamName: "From"
      - name: "limit"
        in: "query"
        description: "Limit for data size, max size is 1000. Default size is 500"
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/public/open-interest:
    get:
      tags:
      - "Market"
      summary: "Query Open Interest"
      operationId: "Market.openInterest"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "limit"
        in: "query"
        description: "Limit for data size, max size is 200. Default size is 50"
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "period"
        in: "query"
        description: "Data recording period. 5min, 15min, 30min, 1h, 4h, 1d"
        required: true
        type: "string"
        x-exportParamName: "Period"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/public/big-deal:
    get:
      tags:
      - "Market"
      summary: "Query Big Deal"
      operationId: "Market.bigDeal"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "limit"
        in: "query"
        description: "Limit for data size, max size is 1000. Default size is 500"
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/public/account-ratio:
    get:
      tags:
      - "Market"
      summary: "Query Account Long Short Ratio"
      operationId: "Market.accountRatio"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "limit"
        in: "query"
        description: "Limit for data size, max size is 500. Default size is 50"
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "period"
        in: "query"
        description: "Data recording period. 5min, 15min, 30min, 1h, 4h, 1d"
        required: true
        type: "string"
        x-exportParamName: "Period"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /user/leverage/save:
    post:
      tags:
      - "Positions"
      summary: "Change user leverage."
      operationId: "Positions.saveLeverage"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "A symbol which you want change its leverage"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "leverage"
        in: "formData"
        description: "New leverage you want set"
        required: true
        type: "string"
        x-exportParamName: "Leverage"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/position/list:
    get:
      tags:
      - "Positions"
      summary: "Get my position list."
      operationId: "Positions.myPosition"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type which you want update its margin"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /position/change-position-margin:
    post:
      tags:
      - "Positions"
      summary: "Update margin."
      operationId: "Positions.changeMargin"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Contract type which you want update its margin"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "margin"
        in: "formData"
        description: "New margin you want set"
        required: true
        type: "string"
        x-exportParamName: "Margin"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /open-api/position/trading-stop:
    post:
      tags:
      - "Positions"
      summary: "Set Trading-Stop Condition."
      operationId: "Positions.tradingStop"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Contract type"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "take_profit"
        in: "formData"
        description: "Not less than 0, 0 means cancel TP"
        required: false
        type: "string"
        x-exportParamName: "TakeProfit"
        x-optionalDataType: "String"
      - name: "stop_loss"
        in: "formData"
        description: "Not less than 0, 0 means cancel SL"
        required: false
        type: "string"
        x-exportParamName: "StopLoss"
        x-optionalDataType: "String"
      - name: "trailing_stop"
        in: "formData"
        description: "Not less than 0, 0 means cancel TS"
        required: false
        type: "string"
        x-exportParamName: "TrailingStop"
        x-optionalDataType: "String"
      - name: "new_trailing_active"
        in: "formData"
        description: "Trailing stop trigger price. Trailing stops are triggered only\
          \ when the price reaches the specified price. Trailing stops are triggered\
          \ immediately by default."
        required: false
        type: "string"
        x-exportParamName: "NewTrailingActive"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/exchange-order/list:
    get:
      tags:
      - "Wallet"
      summary: "Asset Exchange Records"
      operationId: "Wallet.exchangeOrder"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "limit"
        in: "query"
        description: "Limit for data size per page, max size is 50. Default as showing\
          \ 20 pieces of data per page"
        required: false
        type: "number"
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Float32"
      - name: "from"
        in: "query"
        description: "Start ID. By default, returns the latest IDs"
        required: false
        type: "number"
        format: "int32"
        x-exportParamName: "From"
        x-optionalDataType: "Float32"
      - name: "direction"
        in: "query"
        description: "Search direction. Prev: searches in ascending order from start\
          \ ID, Next: searches in descending order from start ID. Defaults to Next"
        required: false
        type: "string"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /open-api/wallet/fund/records:
    get:
      tags:
      - "Wallet"
      summary: "Get wallet fund records"
      operationId: "Wallet.getRecords"
      parameters:
      - name: "start_date"
        in: "query"
        description: "Start point for result"
        required: false
        type: "string"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "end_date"
        in: "query"
        description: "End point for result"
        required: false
        type: "string"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      - name: "currency"
        in: "query"
        description: "Currency type"
        required: false
        type: "string"
        x-exportParamName: "Currency"
        x-optionalDataType: "String"
      - name: "wallet_fund_type"
        in: "query"
        description: "wallet fund type"
        required: false
        type: "string"
        x-exportParamName: "WalletFundType"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Page. Default getting first page data"
        required: false
        type: "string"
        x-exportParamName: "Page"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Limit for data size per page, max size is 50. Default as showing\
          \ 20 pieces of data per page"
        required: false
        type: "string"
        x-exportParamName: "Limit"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /open-api/wallet/withdraw/list:
    get:
      tags:
      - "Wallet"
      summary: "Get wallet fund records"
      operationId: "Wallet.withdraw"
      parameters:
      - name: "start_date"
        in: "query"
        description: "Start point for result"
        required: false
        type: "string"
        x-exportParamName: "StartDate"
        x-optionalDataType: "String"
      - name: "end_date"
        in: "query"
        description: "End point for result"
        required: false
        type: "string"
        x-exportParamName: "EndDate"
        x-optionalDataType: "String"
      - name: "coin"
        in: "query"
        description: "Currency"
        required: false
        type: "string"
        x-exportParamName: "Coin"
        x-optionalDataType: "String"
      - name: "status"
        in: "query"
        description: "Withdraw status"
        required: false
        type: "string"
        x-exportParamName: "Status"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Page. Default getting first page data"
        required: false
        type: "string"
        x-exportParamName: "Page"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Limit for data size per page, max size is 50. Default as showing\
          \ 20 pieces of data per page"
        required: false
        type: "string"
        x-exportParamName: "Limit"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/wallet/balance:
    get:
      tags:
      - "Wallet"
      summary: "get wallet balance info"
      operationId: "Wallet.getBalance"
      parameters:
      - name: "coin"
        in: "query"
        description: "Coin.enum {BTC,EOS,XRP,ETH,USDT}"
        required: false
        type: "string"
        x-exportParamName: "Coin"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /open-api/wallet/risk-limit:
    post:
      tags:
      - "Wallet"
      summary: "Set risk limit"
      operationId: "Wallet.setRiskLimit"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "risk_id"
        in: "formData"
        description: "Risk ID. Can be found with the Get risk limit list endpoint."
        required: true
        type: "number"
        format: "int32"
        x-exportParamName: "RiskId"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /open-api/wallet/risk-limit/list:
    get:
      tags:
      - "Wallet"
      summary: "Get risk limit."
      operationId: "Wallet.getRiskLimit"
      parameters: []
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/order/create:
    post:
      tags:
      - "Order"
      summary: "Place active order"
      operationId: "Order.new"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "side"
        in: "formData"
        description: "Side"
        required: true
        type: "string"
        x-exportParamName: "Side"
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "order_type"
        in: "formData"
        description: "Active order type"
        required: true
        type: "string"
        x-exportParamName: "OrderType"
      - name: "qty"
        in: "formData"
        description: ""
        required: true
        type: "number"
        format: "int32"
        x-exportParamName: "Qty"
      - name: "price"
        in: "formData"
        description: "Order price."
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "Price"
        x-optionalDataType: "Float64"
      - name: "time_in_force"
        in: "formData"
        description: "Time in force"
        required: true
        type: "string"
        x-exportParamName: "TimeInForce"
      - name: "take_profit"
        in: "formData"
        description: "take profit price"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TakeProfit"
        x-optionalDataType: "Float64"
      - name: "stop_loss"
        in: "formData"
        description: "stop loss price"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "StopLoss"
        x-optionalDataType: "Float64"
      - name: "reduce_only"
        in: "formData"
        description: "reduce only"
        required: false
        type: "boolean"
        x-exportParamName: "ReduceOnly"
        x-optionalDataType: "Bool"
      - name: "close_on_trigger"
        in: "formData"
        description: "close on trigger"
        required: false
        type: "boolean"
        x-exportParamName: "CloseOnTrigger"
        x-optionalDataType: "Bool"
      - name: "order_link_id"
        in: "formData"
        description: "TCustomized order ID, maximum length at 36 characters, and order\
          \ ID under the same agency has to be unique."
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/order/list:
    get:
      tags:
      - "Order"
      summary: "Get my active order list."
      operationId: "Order.getOrders"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type. Default BTCUSD"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "limit"
        in: "query"
        description: "TLimit for data size per page, max size is 50. Default as showing\
          \ 20 pieces of data per page"
        required: false
        type: "number"
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Float32"
      - name: "order_status"
        in: "query"
        description: "Query your orders for all statuses if 'order_status' is empty.\
          \ If you want to query orders with specific statuses , you can pass the\
          \ order_status split by"
        required: false
        type: "string"
        x-exportParamName: "OrderStatus"
        x-optionalDataType: "String"
      - name: "direction"
        in: "query"
        description: "Search direction. prev: prev page, next: next page. Defaults\
          \ to next"
        required: false
        type: "string"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      - name: "cursor"
        in: "query"
        description: "Page turning mark，Use return cursor,Sign use origin data, in\
          \ request please urlencode"
        required: false
        type: "string"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/order/cancel:
    post:
      tags:
      - "Order"
      summary: "Get my active order list."
      operationId: "Order.cancel"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "order_id"
        in: "formData"
        description: "Order ID"
        required: false
        type: "string"
        x-exportParamName: "OrderId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "order_link_id"
        in: "formData"
        description: "Order link id."
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/order/cancelAll:
    post:
      tags:
      - "Order"
      summary: "Get my active order list."
      operationId: "Order.cancelAll"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/order/replace:
    post:
      tags:
      - "Order"
      summary: "Replace active order. Only incomplete orders can be modified. "
      operationId: "Order.replace"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "order_id"
        in: "formData"
        description: "Order ID."
        required: false
        type: "string"
        x-exportParamName: "OrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "formData"
        description: "Order Link ID."
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "p_r_qty"
        in: "formData"
        description: "Order quantity."
        required: false
        type: "string"
        x-exportParamName: "PRQty"
        x-optionalDataType: "String"
      - name: "p_r_price"
        in: "formData"
        description: "Order price."
        required: false
        type: "string"
        x-exportParamName: "PRPrice"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/order:
    get:
      tags:
      - "Order"
      summary: "Get my active order list."
      operationId: "Order.query"
      parameters:
      - name: "order_id"
        in: "query"
        description: "Order ID"
        required: false
        type: "string"
        x-exportParamName: "OrderId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "query"
        description: "Contract type. Default BTCUSD"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/stop-order/create:
    post:
      tags:
      - "Conditional"
      summary: "Place a new conditional order."
      operationId: "Conditional.new"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "side"
        in: "formData"
        description: "Side."
        required: true
        type: "string"
        x-exportParamName: "Side"
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "order_type"
        in: "formData"
        description: "Conditional order type."
        required: true
        type: "string"
        x-exportParamName: "OrderType"
      - name: "qty"
        in: "formData"
        description: "Order quantity."
        required: true
        type: "string"
        x-exportParamName: "Qty"
      - name: "price"
        in: "formData"
        description: "Execution price for conditional order"
        required: false
        type: "string"
        x-exportParamName: "Price"
        x-optionalDataType: "String"
      - name: "base_price"
        in: "formData"
        description: "Send current market price. It will be used to compare with the\
          \ value of 'stop_px', to decide whether your conditional order will be triggered\
          \ by crossing trigger price from upper side or lower side. Mainly used to\
          \ identify the expected direction of the current conditional order.."
        required: true
        type: "string"
        x-exportParamName: "BasePrice"
      - name: "stop_px"
        in: "formData"
        description: "Trigger price."
        required: true
        type: "string"
        x-exportParamName: "StopPx"
      - name: "time_in_force"
        in: "formData"
        description: "Time in force."
        required: true
        type: "string"
        x-exportParamName: "TimeInForce"
      - name: "trigger_by"
        in: "formData"
        description: "Trigger price type. Default LastPrice."
        required: false
        type: "string"
        x-exportParamName: "TriggerBy"
        x-optionalDataType: "String"
      - name: "close_on_trigger"
        in: "formData"
        description: "close on trigger."
        required: false
        type: "boolean"
        x-exportParamName: "CloseOnTrigger"
        x-optionalDataType: "Bool"
      - name: "order_link_id"
        in: "formData"
        description: "Customized order ID, maximum length at 36 characters, and order\
          \ ID under the same agency has to be unique.."
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/stop-order/list:
    get:
      tags:
      - "Conditional"
      summary: "Get my conditional order list."
      operationId: "Conditional.getOrders"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "stop_order_status"
        in: "query"
        description: "Stop order status."
        required: false
        type: "string"
        x-exportParamName: "StopOrderStatus"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Limit for data size per page, max size is 50. Default as showing\
          \ 20 pieces of data per page."
        required: false
        type: "number"
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Float32"
      - name: "direction"
        in: "query"
        description: "Search direction. prev: prev page, next: next page. Defaults\
          \ to next"
        required: false
        type: "string"
        x-exportParamName: "Direction"
        x-optionalDataType: "String"
      - name: "cursor"
        in: "query"
        description: "Page turning mark，Use return cursor,Sign use origin data, in\
          \ request please urlencode"
        required: false
        type: "string"
        x-exportParamName: "Cursor"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/stop-order:
    get:
      tags:
      - "Conditional"
      summary: "Query real-time stop order information."
      operationId: "Conditional.query"
      parameters:
      - name: "stop_order_id"
        in: "query"
        description: "Order ID of conditional order."
        required: false
        type: "string"
        x-exportParamName: "StopOrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "query"
        description: "Agency customized order ID."
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/stop-order/cancel:
    post:
      tags:
      - "Conditional"
      summary: "Cancel conditional order."
      operationId: "Conditional.cancel"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "stop_order_id"
        in: "formData"
        description: "Order ID of conditional order."
        required: false
        type: "string"
        x-exportParamName: "StopOrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "formData"
        description: "Agency customized order ID."
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/stop-order/cancelAll:
    post:
      tags:
      - "Conditional"
      summary: "Cancel conditional order."
      operationId: "Conditional.cancelAll"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/stop-order/replace:
    post:
      tags:
      - "Conditional"
      summary: "Replace conditional order. Only incomplete orders can be modified. "
      operationId: "Conditional.replace"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "stop_order_id"
        in: "formData"
        description: "Stop order ID."
        required: false
        type: "string"
        x-exportParamName: "StopOrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "formData"
        description: "Order Link ID."
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "p_r_qty"
        in: "formData"
        description: "Order quantity."
        required: false
        type: "string"
        x-exportParamName: "PRQty"
        x-optionalDataType: "String"
      - name: "p_r_price"
        in: "formData"
        description: "Order price."
        required: false
        type: "string"
        x-exportParamName: "PRPrice"
        x-optionalDataType: "String"
      - name: "p_r_trigger_price"
        in: "formData"
        description: "Trigger price."
        required: false
        type: "string"
        x-exportParamName: "PRTriggerPrice"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /open-api/funding/prev-funding-rate:
    get:
      tags:
      - "Funding"
      summary: "Get predicted funding rate and funding fee."
      operationId: "Funding.prevRate"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /open-api/funding/prev-funding:
    get:
      tags:
      - "Funding"
      summary: "Funding settlement occurs every 8 hours at 00:00 UTC, 08:00 UTC and\
        \ 16:00 UTC. The current interval's fund fee settlement is based on the previous\
        \ interval's fund rate. For example, at 16:00, the settlement is based on\
        \ the fund rate generated at 8:00. The fund rate generated at 16:00 will be\
        \ used at 0:00 on the next day."
      operationId: "Funding.myLastFee"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /open-api/funding/predicted-funding:
    get:
      tags:
      - "Funding"
      summary: "Get predicted funding rate and funding fee."
      operationId: "Funding.predicted"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/execution/list:
    get:
      tags:
      - "Execution"
      summary: "Get user’s trade records."
      operationId: "Execution.getTrades"
      parameters:
      - name: "order_id"
        in: "query"
        description: "OrderID. If not provided, will return user’s trading records."
        required: false
        type: "string"
        x-exportParamName: "OrderId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "query"
        description: "Contract type. If order_id not provided, symbol is required."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "start_time"
        in: "query"
        description: "Start timestamp point for result."
        required: false
        type: "string"
        x-exportParamName: "StartTime"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Page. Default getting first page data."
        required: false
        type: "string"
        x-exportParamName: "Page"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Limit for data size per page, max size is 50. Default as showing\
          \ 20 pieces of data per page."
        required: false
        type: "string"
        x-exportParamName: "Limit"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/private/trade/closed-pnl/list:
    get:
      tags:
      - "Execution"
      - "Positions"
      summary: "Get user's closed profit and loss records"
      operationId: "Positions.closePnlRecords"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "start_time"
        in: "query"
        description: "Start timestamp point for result, in second"
        required: false
        type: "integer"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Int32"
      - name: "end_time"
        in: "query"
        description: "End timestamp point for result, in second"
        required: false
        type: "integer"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Int32"
      - name: "exec_type"
        in: "query"
        description: "Execution type"
        required: false
        type: "string"
        x-exportParamName: "ExecType"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Page. By default, gets first page of data. Maximum of 50 pages"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Limit for data size per page, max size is 50. Default as showing\
          \ 20 pieces of data per page."
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /v2/public/orderBook/L2:
    get:
      tags:
      - "Market"
      summary: "Get the orderbook."
      operationId: "Market.orderbook"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/public/tickers:
    get:
      tags:
      - "Market"
      summary: "Get the latest information for symbol."
      operationId: "Market.symbolInfo"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/public/trading-records:
    get:
      tags:
      - "Market"
      summary: "Get recent trades"
      operationId: "Market.tradingRecords"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "from"
        in: "query"
        description: "From ID. Default: return latest data"
        required: false
        type: "integer"
        x-exportParamName: "From"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Number of results. Default 500; max 1000"
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /v2/public/kline/list:
    get:
      tags:
      - "Kline"
      summary: "Query historical kline."
      operationId: "Kline.get"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "interval"
        in: "query"
        description: "Kline interval."
        required: true
        type: "string"
        x-exportParamName: "Interval"
      - name: "from"
        in: "query"
        description: "from timestamp."
        required: true
        type: "number"
        format: "int64"
        x-exportParamName: "From"
      - name: "limit"
        in: "query"
        description: "Contract type."
        required: false
        type: "number"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Float32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
      deprecated: false
  /private/linear/order/create:
    post:
      tags:
      - "LinearOrder"
      summary: "Create Active Order"
      description: "This will create linear order"
      operationId: "LinearOrder.new"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "side"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Side"
        x-optionalDataType: "String"
      - name: "order_type"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderType"
        x-optionalDataType: "String"
      - name: "time_in_force"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "TimeInForce"
        x-optionalDataType: "String"
      - name: "qty"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "Qty"
        x-optionalDataType: "Float64"
      - name: "price"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "Price"
        x-optionalDataType: "Float64"
      - name: "take_profit"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TakeProfit"
        x-optionalDataType: "Float64"
      - name: "stop_loss"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "StopLoss"
        x-optionalDataType: "Float64"
      - name: "reduce_only"
        in: "formData"
        required: false
        type: "boolean"
        x-exportParamName: "ReduceOnly"
        x-optionalDataType: "Bool"
      - name: "tp_trigger_by"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "TpTriggerBy"
        x-optionalDataType: "String"
      - name: "sl_trigger_by"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "SlTriggerBy"
        x-optionalDataType: "String"
      - name: "close_on_trigger"
        in: "formData"
        required: false
        type: "boolean"
        x-exportParamName: "CloseOnTrigger"
        x-optionalDataType: "Bool"
      - name: "order_link_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /private/linear/order/cancel:
    post:
      tags:
      - "LinearOrder"
      summary: "Cancel Active Order"
      description: "This will cancel linear active order"
      operationId: "LinearOrder.cancel"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "order_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/order/cancel-all:
    post:
      tags:
      - "LinearOrder"
      summary: "Cancel all active orders."
      operationId: "LinearOrder.cancelAll"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /private/linear/order/list:
    get:
      tags:
      - "LinearOrder"
      summary: "Get linear Active Orders"
      description: "This will get linear active orders"
      operationId: "LinearOrder.getOrders"
      parameters:
      - name: "order_id"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "order"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Order"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Page"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Limit"
        x-optionalDataType: "String"
      - name: "order_status"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderStatus"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/order/search:
    get:
      tags:
      - "LinearOrder"
      summary: "Get Active Orders(real-time)"
      description: "This will get linear active orders(real-time)"
      operationId: "LinearOrder.query"
      parameters:
      - name: "symbol"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "order_id"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/order/replace:
    post:
      tags:
      - "LinearOrder"
      summary: "Replace Active Order"
      operationId: "LinearOrder.replace"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "order_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "p_r_qty"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "PRQty"
        x-optionalDataType: "String"
      - name: "p_r_price"
        in: "formData"
        required: false
        type: "number"
        x-exportParamName: "PRPrice"
        x-optionalDataType: "Float32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /private/linear/stop-order/create:
    post:
      tags:
      - "LinearConditional"
      summary: "Create linear stop Order"
      description: "This will create linear stop order"
      operationId: "LinearConditional.new"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "side"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Side"
        x-optionalDataType: "String"
      - name: "order_type"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderType"
        x-optionalDataType: "String"
      - name: "qty"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "Qty"
        x-optionalDataType: "Float64"
      - name: "price"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "Price"
        x-optionalDataType: "Float64"
      - name: "base_price"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "BasePrice"
        x-optionalDataType: "Float64"
      - name: "stop_px"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "StopPx"
        x-optionalDataType: "Float64"
      - name: "time_in_force"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "TimeInForce"
        x-optionalDataType: "String"
      - name: "trigger_by"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "TriggerBy"
        x-optionalDataType: "String"
      - name: "reduce_only"
        in: "formData"
        required: false
        type: "boolean"
        x-exportParamName: "ReduceOnly"
        x-optionalDataType: "Bool"
      - name: "close_on_trigger"
        in: "formData"
        required: false
        type: "boolean"
        x-exportParamName: "CloseOnTrigger"
        x-optionalDataType: "Bool"
      - name: "order_link_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "take_profit"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TakeProfit"
        x-optionalDataType: "Float64"
      - name: "stop_loss"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "StopLoss"
        x-optionalDataType: "Float64"
      - name: "tp_trigger_by"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "TpTriggerBy"
        x-optionalDataType: "String"
      - name: "sl_trigger_by"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "SlTriggerBy"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /private/linear/stop-order/cancel:
    post:
      tags:
      - "LinearConditional"
      summary: "Cancel Active Order"
      description: "This will cancel linear active order"
      operationId: "LinearConditional.cancel"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "stop_order_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "StopOrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/stop-order/cancel-all:
    post:
      tags:
      - "LinearConditional"
      summary: "Cancel all stop orders."
      operationId: "LinearConditional.cancelAll"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /private/linear/stop-order/list:
    get:
      tags:
      - "LinearConditional"
      summary: "Get linear Stop Orders"
      description: "This will get linear active orders"
      operationId: "LinearConditional.getOrders"
      parameters:
      - name: "stop_order_id"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "StopOrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "symbol"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "order"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Order"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Page"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Limit"
        x-optionalDataType: "String"
      - name: "stop_order_status"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "StopOrderStatus"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/stop-order/search:
    get:
      tags:
      - "LinearConditional"
      summary: "Get Stop Orders(real-time)"
      description: "This will get linear stop orders(real-time)"
      operationId: "LinearConditional.query"
      parameters:
      - name: "symbol"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "stop_order_id"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "StopOrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/stop-order/replace:
    post:
      tags:
      - "LinearConditional"
      summary: "Replace conditional order"
      operationId: "LinearConditional.replace"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "stop_order_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "StopOrderId"
        x-optionalDataType: "String"
      - name: "order_link_id"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "OrderLinkId"
        x-optionalDataType: "String"
      - name: "p_r_qty"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "PRQty"
        x-optionalDataType: "String"
      - name: "p_r_price"
        in: "formData"
        required: false
        type: "number"
        x-exportParamName: "PRPrice"
        x-optionalDataType: "Float32"
      - name: "p_r_trigger_price"
        in: "formData"
        required: false
        type: "number"
        x-exportParamName: "PRTriggerPrice"
        x-optionalDataType: "Float32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /private/linear/position/list:
    get:
      tags:
      - "LinearPositions"
      summary: "Get my position list."
      description: "This will get my position list."
      operationId: "LinearPositions.myPosition"
      parameters:
      - name: "symbol"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/position/set-auto-add-margin:
    post:
      tags:
      - "LinearPositions"
      summary: "Set auto add margin"
      description: "This will Set auto add margin"
      operationId: "LinearPositions.setAutoAddMargin"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "side"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Side"
        x-optionalDataType: "String"
      - name: "auto_add_margin"
        in: "formData"
        required: false
        type: "boolean"
        x-exportParamName: "AutoAddMargin"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/position/set-leverage:
    post:
      tags:
      - "LinearPositions"
      summary: "Set leverage"
      description: "This will Set Leverage"
      operationId: "LinearPositions.saveLeverage"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "buy_leverage"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "BuyLeverage"
        x-optionalDataType: "Float64"
      - name: "sell_leverage"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "SellLeverage"
        x-optionalDataType: "Float64"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/position/switch-isolated:
    post:
      tags:
      - "LinearPositions"
      summary: "Switch isolated"
      description: "This will switch isolated"
      operationId: "LinearPositions.switchIsolated"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "is_isolated"
        in: "formData"
        required: false
        type: "boolean"
        x-exportParamName: "IsIsolated"
        x-optionalDataType: "Bool"
      - name: "buy_leverage"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "BuyLeverage"
        x-optionalDataType: "Float64"
      - name: "sell_leverage"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "SellLeverage"
        x-optionalDataType: "Float64"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/position/trading-stop:
    post:
      tags:
      - "LinearPositions"
      summary: "Set tradingStop"
      description: "This will set tradingStop"
      operationId: "LinearPositions.tradingStop"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "side"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Side"
        x-optionalDataType: "String"
      - name: "take_profit"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TakeProfit"
        x-optionalDataType: "Float64"
      - name: "stop_loss"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "StopLoss"
        x-optionalDataType: "Float64"
      - name: "trailing_stop"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TrailingStop"
        x-optionalDataType: "Float64"
      - name: "tp_trigger_by"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "TpTriggerBy"
        x-optionalDataType: "String"
      - name: "sl_trigger_by"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "SlTriggerBy"
        x-optionalDataType: "String"
      - name: "sl_size"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "SlSize"
        x-optionalDataType: "Float64"
      - name: "tp_size"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "TpSize"
        x-optionalDataType: "Float64"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/position/add-margin:
    post:
      tags:
      - "LinearPositions"
      summary: "Add/Reduce Margin"
      description: "This will Add/Reduce Margin"
      operationId: "LinearPositions.changeMargin"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "side"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Side"
        x-optionalDataType: "String"
      - name: "margin"
        in: "formData"
        required: false
        type: "number"
        format: "double"
        x-exportParamName: "Margin"
        x-optionalDataType: "Float64"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/tpsl/switch-mode:
    post:
      tags:
      - "LinearPositions"
      summary: "Switch Mode"
      description: "This will Switch TP/SL Mode"
      operationId: "LinearPositions.switchMode"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "symbol"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "tp_sl_mode"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "TpSlMode"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/trade/closed-pnl/list:
    get:
      tags:
      - "LinearPositions"
      summary: "Get user's closed profit and loss records."
      description: "This will get user's closed profit and loss records."
      operationId: "LinearPositions.closePnlRecords"
      parameters:
      - name: "symbol"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "start_time"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Int64"
      - name: "end_time"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Int64"
      - name: "exec_type"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ExecType"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/trade/execution/list:
    get:
      tags:
      - "LinearExecution"
      summary: "Get user's trading records."
      description: "This will get user's trading records."
      operationId: "LinearExecution.getTrades"
      parameters:
      - name: "symbol"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      - name: "start_time"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "StartTime"
        x-optionalDataType: "Int64"
      - name: "end_time"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "EndTime"
        x-optionalDataType: "Int64"
      - name: "exec_type"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ExecType"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/funding/prev-funding:
    get:
      tags:
      - "LinearFunding"
      summary: "Get prev funding"
      description: "This will get prev funding"
      operationId: "LinearFunding.myLastFee"
      parameters:
      - name: "symbol"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Symbol"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /public/linear/funding/prev-funding-rate:
    get:
      tags:
      - "LinearFunding"
      summary: "Get prev funding"
      description: "This will get prev funding rate"
      operationId: "LinearFunding.prevRate"
      parameters:
      - name: "symbol"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /private/linear/funding/predicted-funding:
    get:
      tags:
      - "LinearFunding"
      summary: "Get predicted funding rate and funding fee."
      operationId: "LinearFunding.predicted"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      deprecated: false
  /public/linear/kline:
    get:
      tags:
      - "LinearKline"
      summary: "Get kline"
      description: "This will get kline"
      operationId: "LinearKline.get"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "interval"
        in: "query"
        description: "Kline interval."
        required: true
        type: "string"
        x-exportParamName: "Interval"
      - name: "from"
        in: "query"
        description: "from timestamp."
        required: true
        type: "number"
        format: "int64"
        x-exportParamName: "From"
      - name: "limit"
        in: "query"
        description: "Contract type."
        required: false
        type: "number"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Float32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
      security: []
  /public/linear/mark-price-kline:
    get:
      tags:
      - "LinearKline"
      summary: "Get kline"
      description: "This will get mark price kline"
      operationId: "LinearKline.markPrice"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "interval"
        in: "query"
        description: "Kline interval."
        required: true
        type: "string"
        x-exportParamName: "Interval"
      - name: "from"
        in: "query"
        description: "from timestamp."
        required: true
        type: "number"
        format: "int64"
        x-exportParamName: "From"
      - name: "limit"
        in: "query"
        description: "Contract type."
        required: false
        type: "number"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Float32"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /public/linear/recent-trading-records:
    get:
      tags:
      - "LinearMarket"
      summary: "Get recent trades"
      description: "This will get recent trades"
      operationId: "LinearMarket.trading"
      parameters:
      - name: "symbol"
        in: "query"
        description: "Contract type."
        required: true
        type: "string"
        x-exportParamName: "Symbol"
      - name: "limit"
        in: "query"
        description: "Contract type."
        required: false
        type: "string"
        x-exportParamName: "Limit"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Request was successful"
          schema: {}
  /public/linear/risk-limit:
    get:
      tags:
      - "LinearWallet"
      summary: "Get risk limit."
      description: "This will get risk limit."
      operationId: "LinearWallet.getRiskLimit"
      parameters: []
      responses:
        200:
          description: "Request was successful"
          schema: {}
securityDefinitions:
  apiKey:
    type: "apiKey"
    name: "api_key"
    in: "query"
  timestamp:
    type: "apiKey"
    name: "timestamp"
    in: "query"
  apiSignature:
    type: "apiKey"
    name: "sign"
    in: "query"
definitions:
  ServerTime:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Get bybit server time."
  LCPInfo:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        $ref: "#/definitions/LCPInfoBase"
      time_now:
        type: "string"
    description: "Query LCP info."
  LCPInfoBase:
    type: "object"
    properties:
      date:
        type: "string"
      self_ratio:
        type: "number"
        format: "int32"
      platform_ratio:
        type: "number"
        format: "int32"
      score:
        type: "number"
        format: "int32"
    description: "Query LCP info."
  Announcement:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/AnnouncementInfo"
      time_now:
        type: "string"
    description: "Get Bybit OpenAPI announcements in the last 30 days in reverse order."
  AnnouncementInfo:
    type: "object"
    properties:
      id:
        type: "number"
        format: "int32"
      title:
        type: "string"
      link:
        type: "string"
      summary:
        type: "string"
      created_at:
        type: "string"
    description: "Get Bybit OpenAPI announcements in the last 30 days in reverse order."
  APIKeyBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/APIKeyInfo"
      time_now:
        type: "string"
    description: "Get bybit server time."
  APIKeyInfo:
    type: "object"
    properties:
      api_key:
        type: "string"
      user_id:
        type: "number"
        format: "int32"
      ips:
        type: "array"
        items:
          type: "string"
      note:
        type: "string"
      permissions:
        type: "array"
        items:
          type: "string"
      created_at:
        type: "string"
      read_only:
        type: "boolean"
    description: "Get bybit server time."
  Leverage:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
      rate_limit_status:
        type: "number"
    description: "Get user leverage."
  LeverageResult:
    type: "object"
    properties:
      BTCUSD: {}
      EOSUSD: {}
      ETHUSD: {}
      XRPUSD: {}
  LeverageInfo:
    type: "object"
    properties:
      leverage:
        type: "number"
  Symbols:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/SymbolInfo"
      time_now:
        type: "string"
    description: "Get symbol information."
  SymbolInfo:
    type: "object"
    properties:
      name:
        type: "string"
      base_currency:
        type: "string"
      quote_currency:
        type: "string"
      price_scale:
        type: "number"
      price_filter: {}
      lot_size_filter: {}
  LiqRecords:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/LiqRecordsInfo"
      time_now:
        type: "string"
    description: "Get liq_records information."
  LiqRecordsInfo:
    type: "object"
    properties:
      id:
        type: "integer"
      qty:
        type: "integer"
      side:
        type: "string"
      time:
        type: "integer"
      symbol:
        type: "string"
      price:
        type: "integer"
  OpenInterest:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/OpenInterestInfo"
      time_now:
        type: "string"
    description: "Get open_interest information."
  OpenInterestInfo:
    type: "object"
    properties:
      open_interest:
        type: "integer"
      timestamp:
        type: "integer"
      symbol:
        type: "string"
  BigDeal:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/BigDealInfo"
      time_now:
        type: "string"
    description: "Get big deal information."
  BigDealInfo:
    type: "object"
    properties:
      side:
        type: "string"
      timestamp:
        type: "integer"
      symbol:
        type: "string"
      value:
        type: "integer"
  AccountRatio:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/AccountRatioInfo"
      time_now:
        type: "string"
    description: "Get account long short account ratio information."
  AccountRatioInfo:
    type: "object"
    properties:
      buy_ratio:
        type: "integer"
      sell_ratio:
        type: "integer"
      timestamp:
        type: "integer"
      symbol:
        type: "string"
  MarkPriceKlineBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/MarkPriceKlineInfo"
      time_now:
        type: "string"
    description: "Get mark price kline information."
  MarkPriceKlineInfo:
    type: "object"
    properties:
      id:
        type: "integer"
      symbol:
        type: "string"
      period:
        type: "string"
      start_at:
        type: "integer"
      open:
        type: "integer"
      high:
        type: "integer"
      low:
        type: "integer"
      close:
        type: "integer"
  price_filter:
    type: "object"
    properties:
      min_price:
        type: "string"
      max_price:
        type: "string"
      tick_size:
        type: "string"
  lot_size_filter:
    type: "object"
    properties:
      min_trading_qty:
        type: "object"
        properties: {}
      max_trading_qty:
        type: "object"
        properties: {}
      qty_step:
        type: "object"
        properties: {}
  Position:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Get my position list."
  PositionInfo:
    type: "object"
    properties:
      id:
        type: "number"
        format: "int32"
      user_id:
        type: "number"
        format: "int32"
      risk_id:
        type: "number"
        format: "int32"
      symbol:
        type: "string"
      side:
        type: "string"
      size:
        type: "number"
        format: "int32"
      position_value:
        type: "number"
        format: "int32"
      entry_price:
        type: "number"
        format: "int32"
      leverage:
        type: "number"
        format: "int32"
      auto_add_margin:
        type: "number"
        format: "int32"
      position_margin:
        type: "number"
        format: "int32"
      liq_price:
        type: "number"
        format: "int32"
      bust_price:
        type: "number"
        format: "int32"
      occ_closing_fee:
        type: "number"
        format: "int32"
      occ_funding_fee:
        type: "number"
        format: "int32"
      take_profit:
        type: "number"
        format: "int32"
      stop_loss:
        type: "number"
        format: "int32"
      position_status:
        type: "string"
      deleverage_indicator:
        type: "string"
      oc_calc_data:
        type: "string"
        format: "JSON"
      order_margin:
        type: "number"
        format: "int32"
      wallet_balance:
        type: "number"
        format: "int32"
      unrealised_pnl:
        type: "number"
        format: "int32"
      realised_pnl:
        type: "number"
        format: "int32"
      cum_realised_pnl:
        type: "number"
        format: "int32"
      cum_commission:
        type: "number"
        format: "int32"
      cross_seq:
        type: "number"
        format: "int32"
      position_seq:
        type: "number"
        format: "int32"
      created_at:
        type: "string"
      updated_at:
        type: "string"
    description: "PositionInfo."
  OrderResBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Place new order response"
  OrderRes:
    type: "object"
    properties:
      order_id:
        type: "string"
      user_id:
        type: "number"
      symbol:
        type: "string"
      side:
        type: "string"
      order_type:
        type: "string"
      price:
        type: "number"
        format: "double"
      qty:
        type: "string"
        format: "int32"
      time_in_force:
        type: "string"
      order_status:
        type: "string"
      last_exec_time:
        type: "number"
        format: "double"
      last_exec_price:
        type: "number"
        format: "double"
      leaves_qty:
        type: "number"
        format: "int32"
      cum_exec_qty:
        type: "number"
        format: "int32"
      cum_exec_value:
        type: "number"
        format: "int32"
      cum_exec_fee:
        type: "number"
        format: "double"
      reject_reason:
        type: "string"
      order_link_id:
        type: "string"
      created_at:
        type: "string"
      updated_at:
        type: "string"
    description: "Place new order response"
  V2OrderRes:
    type: "object"
    properties:
      user_id:
        type: "number"
        format: "int32"
      order_status:
        type: "string"
      symbol:
        type: "string"
      side:
        type: "string"
      order_type:
        type: "string"
      price:
        type: "string"
      qty:
        type: "string"
      time_in_force:
        type: "string"
      order_link_id:
        type: "string"
      order_id:
        type: "string"
      created_at:
        type: "string"
      updated_at:
        type: "string"
      leaves_qty:
        type: "string"
      leaves_value:
        type: "string"
      cum_exec_qty:
        type: "string"
      cum_exec_value:
        type: "string"
      cum_exec_fee:
        type: "string"
      reject_reason:
        type: "string"
    description: "order list response"
  OrderIdRes:
    type: "object"
    properties:
      order_id:
        type: "string"
    description: "Order Id response"
  V2OrderListBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Get order list response"
  V2OrderListData:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/V2OrderRes"
      cursor:
        type: "string"
    description: "Get order list response"
  OrderCancelBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "cancel order response"
  OrderCancelAllBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Cancel all active orders response"
  OrderCancelAllRes:
    type: "object"
    properties:
      clOrdID:
        type: "string"
      user_id:
        type: "number"
        format: "int32"
      side:
        type: "string"
      order_type:
        type: "string"
      price:
        type: "string"
      qty:
        type: "string"
      time_in_force:
        type: "string"
      create_type:
        type: "string"
      order_status:
        type: "string"
      leaves_qty:
        type: "number"
        format: "int32"
      leaves_value:
        type: "number"
        format: "int32"
      created_at:
        type: "string"
      updated_at:
        type: "string"
      cross_status:
        type: "string"
      cross_seq:
        type: "number"
        format: "int32"
    description: "Cancel all active orders response"
  ReplaceOrderBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Replace active order response"
  QueryOrderBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Query real-time active order information response"
  QueryOrderRes:
    type: "object"
    properties:
      order_id:
        type: "string"
      user_id:
        type: "number"
      symbol:
        type: "string"
      side:
        type: "string"
      order_type:
        type: "string"
      price:
        type: "number"
        format: "double"
      qty:
        type: "string"
        format: "int32"
      time_in_force:
        type: "string"
      order_status:
        type: "string"
      ext_fields: {}
      leaves_qty:
        type: "number"
        format: "int32"
      leaves_value:
        type: "number"
        format: "int32"
      cum_exec_qty:
        type: "number"
        format: "int32"
      reject_reason:
        type: "string"
      order_link_id:
        type: "string"
      created_at:
        type: "string"
      updated_at:
        type: "string"
    description: "Query real-time active order information response"
  extFields:
    type: "object"
    properties:
      o_req_num:
        type: "number"
        format: "int32"
      xreq_type:
        type: "string"
      xreq_offset:
        type: "number"
        format: "int32"
    description: "extra fields"
  V2ConditionalBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Place new conditional order response"
  V2CancelOrderBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Place new conditional order response"
  ConditionalRes:
    type: "object"
    properties:
      stop_order_id:
        type: "string"
      user_id:
        type: "number"
        format: "int32"
      stop_order_status:
        type: "string"
      symbol:
        type: "string"
      side:
        type: "string"
      order_type:
        type: "string"
      price:
        type: "number"
        format: "double"
      qty:
        type: "number"
        format: "int32"
      time_in_force:
        type: "string"
      stop_order_type:
        type: "string"
      base_price:
        type: "number"
        format: "double"
      stop_px:
        type: "number"
        format: "double"
      order_link_id:
        type: "string"
      created_at:
        type: "string"
      updated_at:
        type: "string"
    description: "Place new conditional order response"
  V2ConditionalRes:
    type: "object"
    properties:
      user_id:
        type: "number"
        format: "int32"
      symbol:
        type: "string"
      side:
        type: "string"
      order_type:
        type: "string"
      price:
        type: "string"
      qty:
        type: "string"
      time_in_force:
        type: "string"
      trigger_by:
        type: "string"
      base_price:
        type: "string"
      remark:
        type: "string"
      reject_reason:
        type: "string"
      stop_px:
        type: "string"
      stop_order_id:
        type: "string"
      order_link_id:
        type: "string"
      created_at:
        type: "string"
      updated_at:
        type: "string"
    description: "Place new conditional order response"
  V2ConditionalListRes:
    type: "object"
    properties:
      user_id:
        type: "number"
        format: "int32"
      stop_order_status:
        type: "string"
      symbol:
        type: "string"
      side:
        type: "string"
      order_type:
        type: "string"
      price:
        type: "string"
      qty:
        type: "string"
      time_in_force:
        type: "string"
      stop_order_type:
        type: "string"
      trigger_by:
        type: "string"
      base_price:
        type: "string"
      order_link_id:
        type: "string"
      stop_px:
        type: "string"
      stop_order_id:
        type: "string"
      created_at:
        type: "string"
      updated_at:
        type: "string"
    description: "conditional order list response"
  ConditionalCancelAllBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Cancel all conditional order response"
  ConditionalCancelAllRes:
    type: "object"
    properties:
      clOrdID:
        type: "string"
      user_id:
        type: "number"
        format: "int32"
      symbol:
        type: "string"
      side:
        type: "string"
      order_type:
        type: "string"
      price:
        type: "string"
      qty:
        type: "number"
        format: "int32"
      time_in_force:
        type: "string"
      create_type:
        type: "string"
      cancel_type:
        type: "string"
      order_status:
        type: "string"
      leaves_qty:
        type: "number"
        format: "int32"
      leaves_value:
        type: "string"
      cross_seq:
        type: "number"
        format: "int32"
      stop_order_type:
        type: "string"
      trigger_by:
        type: "string"
      created_at:
        type: "string"
      updated_at:
        type: "string"
    description: "Cancel all conditional order response"
  ConditionalOrdersResBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/ConditionalOrdersRes"
      time_now:
        type: "string"
    description: "Get conditional order list"
  StopOrderOrdersResBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Get conditional order list"
  ConditionalOrdersRes:
    type: "object"
    properties:
      data:
        type: "array"
        items:
          $ref: "#/definitions/V2ConditionalListRes"
      cursor:
        type: "string"
    description: "Get order list response"
  ReplaceConditionalBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Replace conditional order response"
  FundingRateBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Get the last funding Rate"
  FundingRate:
    type: "object"
    properties:
      symbol:
        type: "string"
      funding_rate:
        type: "string"
      funding_rate_timestamp:
        type: "number"
        format: "int32"
    description: "Get the last funding Rate"
  FundingFeeBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Get the last funding fee"
  FundingFeeRes:
    type: "object"
    properties:
      symbol:
        type: "string"
      side:
        type: "string"
      size:
        type: "number"
        format: "int32"
      funding_rate:
        type: "string"
      exec_fee:
        type: "number"
        format: "double"
      exec_timestamp:
        type: "number"
        format: "int64"
    description: "Get the last funding fee"
  FundingPredictedBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result: {}
      time_now:
        type: "string"
    description: "Get the last funding fee"
  FundingPredicted:
    type: "object"
    properties:
      predicted_funding_rate:
        type: "number"
        format: "double"
      predicted_funding_fee:
        type: "number"
        format: "double"
    description: "Get the last funding fee"
  TradeRecordsBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/TradeRecords"
      time_now:
        type: "string"
    description: "Get the trade records of a order response"
  TradeRecords:
    type: "object"
    properties:
      order_id:
        type: "string"
      trade_list:
        type: "array"
        items:
          $ref: "#/definitions/TradeRecordsInfo"
    description: "Get the trade records of a order response"
  TradeRecordsInfo:
    type: "object"
    properties:
      closed_size:
        type: "number"
        format: "int32"
      cross_seq:
        type: "number"
        format: "int32"
      exec_fee:
        type: "string"
      exec_id:
        type: "string"
      exec_price:
        type: "string"
      exec_qty:
        type: "number"
        format: "int32"
      exec_time:
        type: "string"
      exec_type:
        type: "string"
      exec_value:
        type: "string"
      fee_rate:
        type: "string"
      last_liquidity_ind:
        type: "string"
      leaves_qty:
        type: "number"
        format: "int32"
      nth_fill:
        type: "number"
        format: "int32"
      order_id:
        type: "string"
      order_price:
        type: "string"
      order_qty:
        type: "number"
        format: "int32"
      order_type:
        type: "string"
      side:
        type: "string"
      symbol:
        type: "string"
      user_id:
        type: "number"
        format: "int32"
    description: "Get the trade records of a order response"
  OrderBookBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/OderBookRes"
      time_now:
        type: "string"
    description: "Get the orderbook response"
  OderBookRes:
    type: "object"
    properties:
      symbol:
        type: "string"
      price:
        type: "string"
      size:
        type: "number"
        format: "int32"
      side:
        type: "string"
    description: "Get the orderbook response"
  ClosedPnlBase:
    type: "object"
    properties:
      ret_code:
        type: "number"
        format: "int32"
      ret_msg:
        type: "string"
      ext_code:
        type: "string"
      ext_info:
        type: "string"
      result:
        type: "array"
        items:
          $ref: "#/definitions/ClosedPnlInfo"
      time_now:
        type: "string"
    description: "Get the closed-pnl/list response"
[...]
