//
// ExecutionAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire



open class ExecutionAPI {
    /**
     Get the trade records of a order.
     
     - parameter orderId: (query) orderID. 
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func executionGetTrades(orderId: String, completion: @escaping ((_ data: Any?,_ error: Error?) -> Void)) {
        executionGetTradesWithRequestBuilder(orderId: orderId).execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     Get the trade records of a order.
     - GET /v2/private/execution/list
     - examples: [{contentType=application/json, example=""}]
     
     - parameter orderId: (query) orderID. 

     - returns: RequestBuilder<Any> 
     */
    open class func executionGetTradesWithRequestBuilder(orderId: String) -> RequestBuilder<Any> {
        let path = "/v2/private/execution/list"
        let URLString = SwaggerClientAPI.basePath + path
        let parameters: [String:Any]? = nil
        
        var url = URLComponents(string: URLString)
        url?.queryItems = APIHelper.mapValuesToQueryItems([
            "order_id": orderId
        ])

        let requestBuilder: RequestBuilder<Any>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
